In [1]:
# -*- coding: utf-8 -*-
# import
import warnings
import itertools
import random
import pandas as pd
import numpy as np
from pandas import DataFrame
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.tsa.stattools as ts
from statsmodels.tsa.arima_model import ARIMA
from sklearn.metrics import mean_squared_error
plt.style.use('fivethirtyeight')

#Define the function meboot
def mean(L):
    return sum(L)/len(L)


def meboot(L, J=1):
    """
    Returns list of J maximum entropy bootstrap samples of time-series L
    """
    N = len(L)
    L_sort = sorted((e,i) for i,e in enumerate(L))
    L_vals = [l[0] for l in L_sort]
    L_inds = [l[1] for l in L_sort]
    L_out = [0]*J
    for j in range(J):
        Z = [(L_vals[i] + L_vals[i+1])/2 for i in range(N-1)]
        m_trm = mean([abs(L[i] - L[i-1]) for i in range(1, N)])
        Z = [L_vals[0] - m_trm] + Z + [L_vals[-1] + m_trm]
        m = [0]*N
        m[0] = 0.75*L_vals[0] + 0.25*L_vals[1]
        for k in range(1, N-1):
            m[k] = 0.25*L_vals[k-1] + 0.5*L_vals[k] + 0.25*L_vals[k+1]
        m[-1] = 0.25*L_vals[-2] + 0.75*L_vals[-1]
        U = sorted([random.random() for _ in range(N)])
        quantiles = [0]*N
        x = [float(y)/N for y in range(N+1)]
        for k in range(N):
            ind = min(range(len(x)), key=lambda i: abs(x[i] - U[k]))
            if x[ind] > U[k]:
                ind -= 1
            c = (2*m[ind] - Z[ind] - Z[ind + 1]) / 2
            y0 = Z[ind] + c
            y1 = Z[ind + 1] + c
            quantiles[k] = y0 + (U[k] - x[ind]) * \
                            (y1 - y0) / (x[ind + 1] - x[ind])
        L_out[j] = [x for y, x in sorted(zip(L_inds, quantiles))]
    return L_out

/anaconda/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
filename = r'/Users/Andy/Desktop/Bitcoin/Data/Meboot_Arima.csv'
data_bitcoin = pd.read_csv(filename)
#data_12_1 = pd.read_csv(filename, index_col = u'Date')
#data_12_2 = pd.read_csv(filename, index_col = u'New Arrivals')
#data_12_NewArrivals = np.array(data_12_1)
#data_12_Date = np.array(data_12_2)

In [3]:
data_bitcoin

         date      close
0      4/1/11     0.2989
1      5/1/11     0.2990
2      6/1/11     0.2980
3      7/1/11     0.3200
4      8/1/11     0.3229
5      9/1/11     0.3230
6     10/1/11     0.3266
7     11/1/11     0.3266
8     12/1/11     0.3188
9     13/1/11     0.3176
10    14/1/11     0.4000
11    15/1/11     0.3860
12    16/1/11     0.3868
13    17/1/11     0.3495
14    18/1/11     0.3130
15    19/1/11     0.3130
16    20/1/11     0.3900
17    21/1/11     0.4199
18    22/1/11     0.4443
19    23/1/11     0.4424
20    24/1/11     0.4199
21    25/1/11     0.4100
22    26/1/11     0.4170
23    27/1/11     0.4212
24    28/1/11     0.4460
25    29/1/11     0.4390
26    30/1/11     0.4799
27    31/1/11     0.5200
28     1/2/11     0.7000
29     2/2/11     0.7160
...       ...        ...
2705   1/6/18  7541.4500
2706   2/6/18  7643.4500
2707   3/6/18  7720.2500
2708   4/6/18  7514.4700
2709   5/6/18  7633.7600
2710   6/6/18  7653.9800
2711   7/6/18  7678.2400
2712   8/6/18  7624.9200
2713   9/6/18  7531.9800
2714  10/6/18  6786.0200
2715  11/6/18  6906.9200
2716  12/6/18  6582.3600
2717  13/6/18  6349.9000
2718  14/6/18  6675.3500
2719  15/6/18  6456.5800
2720  16/6/18  6550.1600
2721  17/6/18  6499.2700
2722  18/6/18  6734.8200
2723  19/6/18  6769.9400
2724  20/6/18  6776.5500
2725  21/6/18  6729.7400
2726  22/6/18  6083.6900
2727  23/6/18  6162.4800
2728  24/6/18  6173.2300
2729  25/6/18  6249.1800
2730  26/6/18  6093.6700
2731  27/6/18  6157.1300
2732  28/6/18  5903.4400
2733  29/6/18  6218.3000
2734  30/6/18  6404.0000

[2735 rows x 2 columns]